C:\Users\danie\Documents\Daniele\Università\Programmazione ad oggetti\TastoLesto\tastoLesto\Targasystem.layout
C:\Users\danie\Documents\Daniele\Università\Programmazione ad oggetti\TastoLesto\tastoLesto\Targasystem.dev